#root {
    text-align: center;
}

input {
    width:30%;
    padding:3px 10px;
}

#add {
    display: block;
    background-color:#ccc;
    border:1px solid #eee;
    padding:5px;
}

h2 {
    text-align: left;
    font-size: 20px;
}