#root {
    text-align: center;
}

input {
    width:30%;
    padding:3px 10px;
}

#add,#send {
    display: block;
    background-color:#ccc;
    border:1px solid #eee;
    padding:5px;
    text-decoration: none;
    display: inline;
}

h2 {
    text-align: left;
    font-size: 20px;
}

h2 a {
    font-size: 15px;
    text-decoration: none;
    margin-left: 10px;
    background: #ccc;
    border:1px solid #eee;
    padding:5px;
    color:#000;
    font-weight: 100;
    outline: yellow;
}

#add:hover,#send:hover, h2 a:hover {
    background: grey;
    color:#fff;
}

#addNew,#subscribeDiv {
    padding: 20px;
    width: 60%;
    border: 1px solid #000;
    margin: 20px auto;
}

#subscribeDiv {
    background: #ffffcc;
}

#contact-form input {
    width: 25%;
}

#updateItem {
    display:none;
    padding: 20px;
    width: 60%;
    border: 1px solid #000;
    margin: 20px auto;
}